.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    max-width: 90%;
    margin: 60px auto;
}

.recipe-image {
    max-width: 100%;
}

.description .title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
}

.text p {
    line-height: 1.4;
    font-size: 16px;
}

.ingredients h2,
.steps h2 {
    margin: 0 auto 30px;
}

.ingredients li,
.steps li {
    margin-bottom: 10px;
    line-height: 1.4;
}
